<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
			 More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%- title %></title>
	<meta name="description" content="<%- descr %>">

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
	
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/remot.io.css">
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
			 chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<header class="jumbotron masthead">
		<div class="inner">
			<h1>remot.io</h1>
			<p>Simple and flexible remote for your html presentation</p>
			<p class="download-info">
				<a href="https://github.com/twitter/bootstrap/" class="btn btn-primary btn-large">View project on GitHub</a>
				<a href="assets/bootstrap.zip" class="btn btn-large">Download Bootstrap <small>(v2.0.3)</small></a>
			</p>
		</div>

		<div class="bs-links">
			<ul class="quick-links">
				<li><a href="./upgrading.html">Upgrading from 1.4</a></li>
				<li><a href="https://github.com/twitter/bootstrap/zipball/master">Download with docs</a></li>
				<li><a href="http://blog.getbootstrap.com">Read the blog</a></li>
				<li><a href="https://github.com/twitter/bootstrap/issues?state=open">Submit issues</a></li>
				<li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
			</ul>
			<ul class="quick-links">
				<li>
					<iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=suhajdab&repo=remot.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
				</li>
				<li>
					<iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=suhajdab&repo=remot.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
				</li>
				<li class="follow-btn">
					<a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @twbootstrap</a>
				</li>
				<li class="tweet-btn">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
				</li>
			</ul>
		</div>
	</header>

	<hr class="soften">

	<div role="main">
		<!-- TODO: show big green ✔ next to completed steps -->
		<!-- TODO: generate bookmarklet with unique id -->
		 <h2>Step 1</h2>
		 <p>
		 	<!-- auto collapse this section when socket connection is up -->
		 	Send this url : http://remot.io/f6sdh/c to your touch device and open it!
		 	<a href="mailto:?subject=remot.io controller address&body=Open this address on your touch device to take control: http://remot.io/e5h67/c" data-tracking="">Sending an e-mail</a><a href="javascript" data-tracking="">scanning a qrcode</a>
		 </p>
		 

		 <h2>Step 2</h2>
		 <p>
		 	<!-- auto collapse this section on swipe up, else display: "Swipe up, not down/left/right" -->
		 	Test if this are working by swiping up
		 </p>

		 <h2>Step 3</h2>
		 <p>
		 	<!-- any way to test this?? Auto close section after drag -->
		 	Drag this <a href="javascript:var remot = {id : 'e5h67'};(function() {var sc = document.createElement('SCRIPT');sc.type = 'text/javascript';sc.src = 'http://remot.io/js/compact/global-receiver.js';document.getElementsByTagName('head')[0].appendChild(sc);})();">bookmarklet</a> to your bookmarks
		 </p>

		 <!-- display when all steps are complete -->
		 <h2>Ready!</h2>
	</div>
	<footer>

	</footer>


	<!-- JavaScript at the bottom for fast page loading -->

	<!-- scripts concatenated and minified via build script -->
	<%- compactJsHtml() %>
	
	
	<!-- end scripts -->

	<!-- Asynchronous Google Analytics snippet. mathiasbynens.be/notes/async-analytics-snippet -->
	<script>
		var _gaq=[['_setAccount','<%- googleUA %>'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>